[submodule "v8"]
	path = v8
	url = https://github.com/denoland/v8.git
[submodule "build"]
	path = build
	url = https://github.com/denoland/chromium_build.git
[submodule "tools/clang"]
	path = tools/clang
	url = https://chromium.googlesource.com/chromium/src/tools/clang.git
[submodule "third_party/jinja2"]
	path = third_party/jinja2
	url = https://chromium.googlesource.com/chromium/src/third_party/jinja2.git
[submodule "third_party/markupsafe"]
	path = third_party/markupsafe
	url = https://chromium.googlesource.com/chromium/src/third_party/markupsafe.git
[submodule "buildtools"]
	path = buildtools
	url = https://chromium.googlesource.com/chromium/src/buildtools.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://github.com/denoland/icu.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://chromium.googlesource.com/chromium/src/third_party/abseil-cpp.git
[submodule "third_party/fp16/src"]
	path = third_party/fp16/src
	url = https://github.com/Maratyszcza/FP16.git
[submodule "third_party/libc++/src"]
	path = third_party/libc++/src
	url = https://chromium.googlesource.com/external/github.com/llvm/llvm-project/libcxx.git
[submodule "third_party/libc++abi/src"]
	path = third_party/libc++abi/src
	url = https://chromium.googlesource.com/external/github.com/llvm/llvm-project/libcxxabi.git
[submodule "third_party/libunwind/src"]
	path = third_party/libunwind/src
	url = https://chromium.googlesource.com/external/github.com/llvm/llvm-project/libunwind.git
